@font-face {
  font-family: "SoberanaSans";
  src: url("./fonts/SoberanaSans-Regular.otf") format("truetype"); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}

@font-face {
  font-family: "SoberanaSans_Bold";
  src: url("./fonts/SoberanaSans-Black.otf") format("truetype"); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}

html {
  font-size: 16px !important;
}

body {
  width: 100%;
  background-color: #fff;
  font-family: "SoberanaSans" !important;
}

.wrapper {
  margin: 0 auto !important;
  width: 100%;
  max-width: 1000px;
  min-width: 350px;
  padding: 0 20px;
}

.no-padding {
    padding: 0 !important;
}